<html>
  <head>
  </head>
  <body>
    Dear <%= @user.full_name %>
    <br>
    <p>Thank you for signing up for our video on demand service. Enjoy your stay.</p>
    <br>
    <p>Yours faithfully,</p>
    <br>
    MyFlix Sales Team
  </body>
</html>
