<html>
  <head>
  </head>
  <body>
    <p>Dear <%= @user.full_name %>,</p>
    <br>
    <p>We would like to inform you that your card for the payment of
      your subscription was denied. For this reason you account has
      been suspended.</p>
    <p>Please contact customer service to resolve the issue. </p>
    <br>
    Regards,
    <br>
    MyFlix Customer Service
  </body>
</html>
