<html>
  <head>
  </head>
  <body>
    <br>
    <p>Please click the link below to reset your password.</p>
    <br>
    <p><%=link_to "Reset password", edit_password_reset_url(@user.token, host: request.host) %></p>
    <br>
    MyFlix Sales Team
  </body>
</html>
