---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_c3Nxl9ej8BGWZF89nR0NCykE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_104JXQ4OlWR9sB6HaXPrDgBh",
          "livemode": false,
          "created": 1404094633,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_104JXQ4OlWR9sB6HUNsS7mr9",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 10,
            "exp_year": 2016,
            "fingerprint": "LdQx4SlIvRodhqeR",
            "country": "US",
            "name": nil,
            "address_line1": nil,
            "address_line2": nil,
            "address_city": nil,
            "address_state": nil,
            "address_zip": nil,
            "address_country": nil,
            "customer": nil
          }
        }
  recorded_at: Mon, 30 Jun 2014 02:17:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_104JXQ4OlWR9sB6HaXPrDgBh
    headers:
      Authorization:
      - Bearer sk_test_c3Nxl9ej8BGWZF89nR0NCykE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-06-17'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "Missing required param: currency",
            "param": "currency"
          }
        }
  recorded_at: Mon, 30 Jun 2014 02:17:14 GMT
recorded_with: VCR 2.9.2
